body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/fondo.jpg");
    background-size: 100%;
}

input[type="text"] {
    border: 0px;
    color: #ffffff;
    text-align: right;
}